<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="sqliteConnectionString" value="URI=file:/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/basketball-games.db"/>
        
        <add key="logInWindow" value="/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/Resources/log-in-window.glade"/>
        <add key="signUpWindow" value="/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/Resources/sign-up-window.glade"/>
        <add key="mainWindow" value="/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/Resources/main-window.glade"/>
    </appSettings>
</configuration>