<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="serverHost" value="127.0.0.1"/>
        <add key="serverPort" value="55555"/>
        
        <add key="signInWindow" value="/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/Client/Gtk/Resources/sign-in-window.glade"/>
        <add key="signUpWindow" value="/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/Client/Gtk/Resources/sign-up-window.glade"/>
        <add key="mainWindow" value="/home/adipopbv/the-backpack/Work/University/Year 2/Semester 2/Medii de Proiectare si Programare/Laborator/proiect1-adipopbv/pr1-cs/Client/Gtk/Resources/main-window.glade"/>
    </appSettings>
</configuration>